.logo-color{
    color: #4A4A4A;;
}

.nav-text a{
    color: #777777;
}
.btn-outline{
    color: #289BDE;
    border: 1px solid #289BDE;
}
.btn-bg{
    background-color: #289BDE;
}
.theme-color{
    color: #289BDE;
}
.carousel-item::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: #000;
    opacity: 0.6;
}
@media(max-width:567px){
    .courses-header{
        width: 90%;
    }
}
@media(min-width:567px) and (max-width:991px){
    .courses-header{
        width: 80%;
    }
}
@media(min-width:992px){
    .carousel-caption{
        bottom: 130px;
    }
    .courses-header{
        width: 50%;
    }
}
@media(min-width:1200px){
    .carousel-caption{
        bottom: 180px;
    }
    .courses-header{
        width: 40%;
    }
}